<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750284049626-7olg1ojtts31d29fb8fkm47egsvdla1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750284049626-7olg1ojtts31d29fb8fkm47egsvdla1c</string>
	<key>API_KEY</key>
	<string>AIzaSyD-3bpOwXc-lnm3i-nm6Vyk_GFqEyETeOc</string>
	<key>GCM_SENDER_ID</key>
	<string>750284049626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bananizeMobileApp</string>
	<key>PROJECT_ID</key>
	<string>bananizeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bananizeapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750284049626:ios:d104b5a28b3b8d7a8ce9e3</string>
	<key>DATABASE_URL</key>
	<string>https://bananizeapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>